
            @charset "UTF-8";

            .service-logo {
            margin-top: 50px;
	        display: flex;
            justify-content: center;
            }

            .btn-facebook {
            background-color: #0061F2;
            border-color: #0061F2;
            }

            .btn-facebook:hover {
            background-color: #92BCF9;
            border-color: #92BCF9;
            }

            .btn-github {
            background-color: #212832;
            border-color: #212832;
            }

            .btn-github:hover {
            background-color: #A0A3A8;
            border-color: #A0A3A8;
            }

            .btn-x {
            background-color: #212832;
            border-color: #212832;
            }

            .btn-x:hover {
            background-color: #A0A3A8;
            border-color: #A0A3A8;
            }

            .btn-google {
            background-color: #009259;
            border-color: #009259;
            }

            .btn-google:hover {
            background-color: #92DBBF;
            border-color: #92DBBF;
            }
