@charset "UTF-8";
/*
* main.css - index.html 전용 커스텀 스타일
* styles.css 이후에 로드되어 일부 스타일을 오버라이드합니다
*/

/* Facebook 버튼 스타일 수정 */
.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}
.btn-facebook:hover {
  color: #fff;
  background-color: #324c81;
  border-color: #2f477a;
}
.btn-check:focus + .btn-facebook, .btn-facebook:focus {
  color: #fff;
  background-color: #324c81;
  border-color: #2f477a;
  box-shadow: 0 0 0 0.25rem rgba(88, 114, 167, 0.5);
}
.btn-check:checked + .btn-facebook, .btn-check:active + .btn-facebook, .btn-facebook:active, .btn-facebook.active, .show > .btn-facebook.dropdown-toggle {
  color: #fff;
  background-color: #2f477a;
  border-color: #2c4372;
}
.btn-check:checked + .btn-facebook:focus, .btn-check:active + .btn-facebook:focus, .btn-facebook:active:focus, .btn-facebook.active:focus, .show > .btn-facebook.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(88, 114, 167, 0.5);
}
.btn-facebook:disabled, .btn-facebook.disabled {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

/* GitHub 버튼 추가 스타일 */
.btn-check:focus + .btn-github, .btn-github:focus {
  color: #fff;
  background-color: #2b2b2b;
  border-color: #292929;
  box-shadow: 0 0 0 0.25rem rgba(82, 82, 82, 0.5);
}
.btn-check:checked + .btn-github, .btn-check:active + .btn-github, .btn-github:active, .btn-github.active, .show > .btn-github.dropdown-toggle {
  color: #fff;
  background-color: #292929;
  border-color: #262626;
}
.btn-check:checked + .btn-github:focus, .btn-check:active + .btn-github:focus, .btn-github:active:focus, .btn-github.active:focus, .show > .btn-github.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(82, 82, 82, 0.5);
}
.btn-github:disabled, .btn-github.disabled {
  color: #fff;
  background-color: #333333;
  border-color: #333333;
}

/* Google 버튼 스타일 수정 */
.btn-google {
  color: #fff;
  background-color: #ea4335;
  border-color: #ea4335;
}
.btn-google:hover {
  color: #fff;
  background-color: #c7392d;
  border-color: #bb362a;
}
.btn-check:focus + .btn-google, .btn-google:focus {
  color: #fff;
  background-color: #c7392d;
  border-color: #bb362a;
  box-shadow: 0 0 0 0.25rem rgba(237, 95, 83, 0.5);
}
.btn-check:checked + .btn-google, .btn-check:active + .btn-google, .btn-google:active, .btn-google.active, .show > .btn-google.dropdown-toggle {
  color: #fff;
  background-color: #bb362a;
  border-color: #b03228;
}
.btn-check:checked + .btn-google:focus, .btn-check:active + .btn-google:focus, .btn-google:active:focus, .btn-google.active:focus, .show > .btn-google.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(237, 95, 83, 0.5);
}
.btn-google:disabled, .btn-google.disabled {
  color: #fff;
  background-color: #ea4335;
  border-color: #ea4335;
}

/* X (Twitter) 버튼 스타일 수정 */
.btn-x {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}
.btn-x:hover {
  color: #fff;
  background-color: #0d0d0d;
  border-color: #0a0a0a;
}
.btn-check:focus + .btn-x, .btn-x:focus {
  color: #fff;
  background-color: #0d0d0d;
  border-color: #0a0a0a;
  box-shadow: 0 0 0 0.25rem rgba(38, 38, 38, 0.5);
}
.btn-check:checked + .btn-x, .btn-check:active + .btn-x, .btn-x:active, .btn-x.active, .show > .btn-x.dropdown-toggle {
  color: #fff;
  background-color: #0a0a0a;
  border-color: #080808;
}
.btn-check:checked + .btn-x:focus, .btn-check:active + .btn-x:focus, .btn-x:active:focus, .btn-x.active:focus, .show > .btn-x.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(38, 38, 38, 0.5);
}
.btn-x:disabled, .btn-x.disabled {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}
